<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>文件上传Demo</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .main-box {
            /*width: 600px;*/
            margin: 50px auto;
            padding: 10px;
            border: 1px solid #f5f7f9;
            border-radius: 2px;
        }
        .upload-header {
            border-bottom: 1px solid #cccccc;
            text-align: left;
            margin-bottom: 10px;
        }
        .upload-body {
            position: relative;
            width: 80px;
            background: #2d8cf0;
            text-align: center;
            color: #FFF;
            padding: 0px 5px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            padding: 5px;
        }

        .upload-body:hover {
            background: #57a3f3;
        }

        .upload-body span {}

        .upload-body form {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .upload-body form input {
            width: 100%;
        }

        .preview-item {
            margin: 0;
            padding: 5px;
            list-style: none;
            cursor: default;
        }
        .preview-item:hover {
            background: #f5f7f9;
        }
        .upload-list{
            margin: 10px 0px;
        }
    </style>
</head>
<body>
<div class="main-box">
    <div class="upload-header">
        文件上传Demo
    </div>
    <div class="upload-body">
        <span>上传图片</span>
        <form id="uploadForm" enctype="multipart/form-data" method="post">

        <input type="file" name="uploadFile" id="uploadFile" onchange="doUpload()" />
        </form>
    </div>
    <div class="upload-list">
        <label id="fileNameLabel"></label>
        上传进度:<progress id="pro" value="0"></progress>
        <label id="lab"></label>
        <input type="button" id="puase"  value="暂停">
        <input type="button" id="upload"  value="继续上传">
    </div>
</div>
<script src="/jquery/jquery.js"></script>
<script src="/upload.js"></script>
<script>
    let dataArray = new Map();
    let work = new Map();
    //停止上传
    var puase = function (data){
        work.get(data).terminate();
        work.delete(data);
        console.log("停止上传"+data);
    }
    //继续上传
    function upload(data){
        workUtil(dataArray.get(data))
        console.log("继续上传"+data)
    }
    var doUpload = function () {
        var fileStream = $('#uploadFile')[0].files[0];
        if(fileStream === undefined){
            return
        }
        let data = []
        data.formData = []
        data.formDataQueue = new Array()
        data.flag = false

        $("#fileNameLabel").html(fileStream.name)
        let segment = 5;//段大小
        var chunk = parseInt(fileStream.size/segment) //计算出每片大小
        var chunks = [];
        var start = 0;
        //文件分片
        for (let i = 0; i < segment; i++) {
            let end = start + chunk;
            chunks[i] = new Object();
            chunks[i].start = start;
            //如果是最后一段，则到最后段
            if(i==(segment-1)){
                chunks[i].end = fileStream.size
            }else {
                chunks[i].end = end;
            }
            chunks[i].blob = fileStream.slice(chunks[i].start , chunks[i].end);
            chunks[i].start = start;
            start = end;
        }

        //对文件名进行重命名
        let originalnameArr = fileStream.name.split('.')
        let postfix = originalnameArr[originalnameArr.length - 1]
        let file_name = Date.now()+(parseInt( Math.random()*1000000)+"."+postfix)


        for(let i =0;i<chunks.length;i++){
            data.formData[i] = []
            data.formData[i].file_name = file_name
            data.formData[i].file_size = fileStream.size
            data.formData[i].start = chunks[i].start
            data.formData[i].end = chunks[i].end
            data.formData[i].file = chunks[i].blob,i+fileStream.name
            data.formDataQueue.push(data.formData[i])
        }
        $("#puase").attr('onclick',"puase('"+file_name+"')")
        $("#upload").attr('onclick',"upload('"+file_name+"')")

        dataArray.set(file_name,data)
        workUtil(dataArray.get(file_name))
    }

    function workUtil(data){

        let worker = new Worker('upload.js')
        worker.onmessage = function (event) {

            console.log("上传成功了吗"+event.data)

            let arr = dataArray.get(event.data);
            arr.formDataQueue.shift()

            $("#pro").attr("value",(arr.formData.length-arr.formDataQueue.length)/arr.formData.length)
            $("#lab").html(parseInt((arr.formData.length-arr.formDataQueue.length)/arr.formData.length*100))

            if(arr.formDataQueue.length===0 || arr.formDataQueue === undefined){
                dataArray.delete(event.data)
                work.get(event.data).terminate();
            }
            worker.postMessage(data.formDataQueue[0])
        }
        worker.postMessage(data.formDataQueue[0])

        work.set(data.formDataQueue[0].file_name,worker);
    }


</script>
</body>
</html>
